# This file defines code ownership in VMR.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.

vmr/src/common/	@xdavidz @prapulkrishnamurthy
vmr/src/include/	@xdavidz @prapulkrishnamurthy
vmr/src/lscript.ld	@xdavidz @prapulkrishnamurthy
vmr/src/rmgmt/	@xdavidz @prapulkrishnamurthy
vmr/src/vmc/	@xdavidz @prapulkrishnamurthy

build/ @xdavidz @prapulkrishnamurthy
