[submodule "XRT"]
	path = XRT
	url = https://github.com/xilinx/XRT.git
[submodule "RMI"]
	path = RMI
	url = git@github.com:Xilinx/RMI.git 
[submodule "cmocka"]
	path = cmocka
	url = https://gitlab.com/cmocka/cmocka.git
